// Local Sass modules
@use '../../../_core/styles/utils/_functions';
@use '../../../_core/styles/utils/_mixins';
@use '../../../_core/styles/theme/_theme';

//// HEADER
//// --------------------------------------------------------------------------

	// Style block

	.header {
		& > * {
			margin: 0 0 theme.$spacing-x4 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			text-decoration: none;
		}
	}