// Local Sass modules
@use '@displaycoffee/styles/functions';
@use '@displaycoffee/styles/mixins';
@use '_core/styles/_theme';

//// HEADER
//// --------------------------------------------------------------------------

	// Style block

	.header {
		& > * {
			margin: 0 0 theme.$spacing-x4 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
		a {
			text-decoration: none;
		}
	}