// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// RULES
//// --------------------------------------------------------------------------

	// Style block

	.rules {
		ol:not(.unstyled) > li {
			text-align: left;
			margin-bottom: theme.$spacing-x4;
			&:last-child {
				margin-bottom: 0;
			}
			ul {
				margin-top: theme.$spacing-x2;
			}
		}
	}