// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// PLAY
//// --------------------------------------------------------------------------

	// Style block

	.play {
		max-width: 400px;
		margin: 0 auto;
		.pixels {
			//margin: 0 auto theme.$spacing-x4 auto;
			.pixel-block {
				height: 0;
				line-height: 0;
				padding-bottom: 100%;
			}
		}
	}