// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// BLOCKS
//// --------------------------------------------------------------------------

	// Configuration

	$set-width: 130px;
	$pixel-size: 4px;

	// Style block

	.pixelated {
		position: relative;
		display: inline-block;
		border: 0;
		margin: $pixel-size 0;
		&:before, &:after {
			content: '';
			display: block;
			@include mixins.position($type: absolute, $left: 0, $right: 0);
			margin: auto;
			height: $pixel-size;
		}
		&:before {
			top: -#{$pixel-size};
		}
		&:after {
			bottom: -#{$pixel-size};
		}
	}
	.block {
		width: 100%;
		padding: theme.$spacing-x4;
		background-color: theme.$color-06;
		border-left: $pixel-size solid theme.$color-04;
		border-right: $pixel-size solid theme.$color-04;
		&.block-columns {
			@include mixins.flex-layout((display: inline-flex));
			@include mixins.gap(theme.$spacing-x1 theme.$spacing-x2);
			* {
				@include mixins.flex;
				min-width: 1px;
			}
			p {
				margin: 0;
			}
		}
		&:before, &:after {
			background-color: theme.$color-04;
		}
		p {
			margin: 0 0 theme.$spacing-x1 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.button {
		min-width: $set-width;
		border-left: $pixel-size solid theme.$color-05;
		border-right: $pixel-size solid theme.$color-05;
		color: theme.$color-03;
		&, &:before, &:after {
			background-color: theme.$color-05;
		}
		&:focus, &:focus-visible, &:focus-visible {
			outline: 0;
			border-left-color: theme.$color-04;
			border-right-color: theme.$color-04;
			&:before, &:after {
				background-color: theme.$color-04;
			}
		}
		span {
			display: block;
			@include mixins.ellipsis;
		}
		&[disabled] {
			opacity: 0.65;
			cursor: not-allowed;
		}
	}
	.data {
		p {
			margin: 0;
		}
		.row {
			border-bottom: 1px solid theme.$color-04;
			padding: 0 0 theme.$spacing-x2 0;
			margin: 0 0 theme.$spacing-x2 0;
			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			.column {
				@include mixins.flex(1 1 100%);
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.data {
			text-align: left;
			.row {
				.column {
					@include mixins.flex(0 1 auto);
				}
			}
		}
	}