// Use utils and theme variables
@use '../../../_config/styles/utils/_functions';
@use '../../../_config/styles/utils/_mixins';
@use '../../../_config/styles/theme/_theme';

//// BLOCKS
//// --------------------------------------------------------------------------

	// Configuration

	$pixel-size: 4px;

//// BLOCKS - BLOCK
//// --------------------------------------------------------------------------

	// Style block

	.block {
		width: 100%;
		&.block-columns {
			@include mixins.flex-layout((display: inline-flex));
			@include mixins.gap(theme.$spacing-x1 theme.$spacing-x2);
			* {
				@include mixins.flex;
				min-width: 1px;
			}
			p {
				margin: 0;
			}
		}
		p {
			margin: 0 0 theme.$spacing-x1 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

//// BLOCKS - DATA
//// --------------------------------------------------------------------------

	// Style block

	.data {
		p {
			margin: 0;
		}
		.row {
			border-bottom: 1px solid theme.$color-04;
			padding: 0 0 theme.$spacing-x2 0;
			margin: 0 0 theme.$spacing-x2 0;
			&:last-child {
				border-bottom: 0;
				padding-bottom: 0;
				margin-bottom: 0;
			}
			.column {
				@include mixins.flex(1 1 100%);
			}
		}
	}
	@include mixins.respond-min(theme.$bp-02) {
		.data {
			text-align: left;
			.row {
				.column {
					@include mixins.flex(0 1 auto);
				}
			}
		}
	}

//// BLOCKS - LIST
//// --------------------------------------------------------------------------

	// Configuration
	
	$blocks-list-spacing: theme.$spacing-x4; // spacing for list elements

	// Style block

	.list-ordered, .list-unordered, .list-unstyled {
		list-style: none;
		padding: 0;
	}
	.list-ordered, .list-unordered {
		margin: 0 0 theme.$spacing-x4 0;
		& > li {
			position: relative;
			margin: 0 0 calc($blocks-list-spacing / 8) 0;
			padding: 0 0 0 $blocks-list-spacing + 10;
			&:before {
				display: block;
				@include mixins.position($type: absolute, $left: 0);
			}
			&:last-child, ul, ol {
				margin-bottom: 0;
			}
		}
	}
	.list-ordered {
		counter-reset: section;
		& > li:before {
			top: 0;
			counter-increment: section;
			content: counter(section)'.';
		}
	}
	.list-unordered {
		& > li:before {
			top: 2px;
			content: '\002022';
			font-size: functions.em(20px, rem);
			line-height: 1;
		}
	}
	.list-unstyled {
		margin: 0;
	}	

//// BLOCKS - PIXELATED
//// --------------------------------------------------------------------------

	// Style block

	.pixelated {
		position: relative;
		display: inline-block;
		margin: $pixel-size 0;
		padding: theme.$spacing-x4;
		background-color: theme.$color-06;
		border: 0;
		border-left: $pixel-size solid theme.$color-04;
		border-right: $pixel-size solid theme.$color-04;
		&:before, &:after {
			content: '';
			display: block;
			@include mixins.position($type: absolute, $left: 0, $right: 0);
			margin: auto;
			height: $pixel-size;
			background-color: theme.$color-04;
		}
		&:before {
			top: -#{$pixel-size};
		}
		&:after {
			bottom: -#{$pixel-size};
		}
	}	